
.vs/MultiCracker/FileContentIndex/b3bd5ece-3872-4bac-9ab8-206ac8596a25.vsidx

MultiCracker/obj/Release/net6.0-windows/MultiCracker.designer.deps.json

MultiCracker/obj/Release/net6.0-windows/MultiCracker.designer.runtimeconfig.json
